body {
    font-size: 150%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #466368;
    background: -webkit-linear-gradient(#648880, #293f50);
    background: -moz-linear-gradient(#648880, #293f50);
    background: linear-gradient(#648880, #293f50);
}

h1 {
    background-color: lightcoral;
    color: darkslategrey;
}

div {
    text-align: center;
}

.center {
    text-align: center;
}

* {
    box-sizing: border-box;
}


/* Style the list (remove margins and bullets, etc) */

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    text-align: left;
}


/* Style the list items */

ul li {
    border: 1px solid #ddd;
    margin-top: -1px;
    /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    position: relative;
    width: 110%;
}


/* Add a light grey background color on hover */

ul li:hover {
    background-color: #eee;
}


/* Style the close button (span) */

.close {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0%;
    padding: 12px 16px;
    transform: translate(0%, -50%);
}

.close:hover {
    background: #bbb;
}