swagger: "2.0"
info:
  description: This is the swagger file that goes with our server code
  version: "1.0.0"
  title: Swagger Connexion Python Web Server
consumes:
  - "application/json"
produces:
  - "application/json"

basePath: "/api"

# Paths supported by the server application
paths:
  /products:
    get:
      operationId: "products.read"
      tags:
        - "Products"
      summary: "The products data structure supported by the server application"
      description: "Read the list of products"
      responses:
        200:
          description: "Successful read products list operation"
          schema:
            type: "array"
            items:
              properties:
                fname:
                  type: "string"
                lname:
                  type: "string"
                timestamp:
                  type: "string"